@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.bg-zoom-transition {
    position: relative;
    overflow: hidden;
}

.bg-zoom-transition::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
    will-change: transform;
}

.bg-zoom-transition:hover::before {
    transform: scale(1.2);
}

.bg-zoom-transition::after {
    content: attr(title);
    color: rgb(255, 255, 255);
    opacity: 0;
    bottom: 0;
    left: 1rem;
    font-size: 3rem;
    position: absolute;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-zoom-transition:hover::after {
    opacity: 100;
    bottom: 1rem;
}

#uxui {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#uxui.active {
    transform: translate(8px, -8px) rotate(2deg);
}

#web1 {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(-2deg);
}

#web1.active {
    transform: translate(-8px, -16px) rotate(-4deg);
}

#web2 {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(2deg);
}

#web2.active {
    transform: translate(12px, -24px) rotate(4deg);
}

#system1 {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(3deg);
}
#system2 {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(8deg);
}
#system3 {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: rotate(12deg);
}
#system1.active {
    transform: translate(0, -10px) rotate(4deg);
}
#system2.active {
    transform: translate(24px, -12px) rotate(8deg);
}
#system3.active {
    transform: translate(24px, -24px) rotate(16deg);
}
.btn-gradient {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.btn-gradient:hover {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    transition-duration: 0.3s;
}

.button-link {
    background: radial-gradient(
        circle at 30% 30%,
        #9265ff 0%,
        #361984 40%,
        #030712 80%
    );
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.3) inset;
    transition-duration: 0.3s;
    background-size: 110%;
    transition-property: background-size;
    outline: 1px solid rgba(255, 255, 255, 0.2);
}
.button-link:hover {
    background-size: 200%;
    transition-duration: 0.3s;
}

.text-animate {
    animation: textmask 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    opacity: 0;
}

@keyframes textmask {
    from {
        transform: translateY(4rem);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

:root {
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 54, 25, 132;
    --color2: 221, 74, 255;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-color: #030712;
    /* background: radial-gradient(
        100% 100% at 50% 0%,
        #000 0%,
        #000 46.63%,
        #090828 61.06%,
        #4622a8 83.29%,
        #c5b0f8 100%
    ); */
    top: 0;
    left: 0;
}

.gradients-container {
    position: relative;
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(
            100% 100% at 50% 0%,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 46.63%,
            #4622a8 70%,
            #c5b0f8 100%
        )
        no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: var(--circle-size);
    bottom: 0;
    left: 0;
    opacity: 1;
    /* animation: moveVertical 30s ease infinite; */
}
.g2 {
    position: absolute;
    background: radial-gradient(
            circle at center,
            rgba(var(--color2), 0.8) 0,
            rgba(var(--color2), 0) 50%
        )
        no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    bottom: 0;
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    opacity: 1;
    animation: moveInCircle 20s reverse infinite;
}

.g3 {
    position: absolute;
    background: radial-gradient(
            circle at center,
            rgba(var(--color-interactive), 0.8) 0,
            rgba(var(--color-interactive), 0) 50%
        )
        no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
}

.g4 {
    position: absolute;
    background: radial-gradient(
            circle at center,
            rgba(var(--color2), 0.8) 0,
            rgba(var(--color2), 0) 50%
        )
        no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    bottom: 0;
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
}

.interactive {
    position: absolute;
    background: radial-gradient(
            circle at center,
            rgba(var(--color-interactive), 0.8) 0,
            rgba(var(--color-interactive), 0) 50%
        )
        no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
}

#smooth-wrapper {
    width: 100%;
    height: 100%;
}

#smooth-content {
    width: 100%;
}

#burger-icon {
    position: relative;
    width: 100%;
    height: 100%;
}
#burger-icon-before {
    top: calc(50% - 5px);
}
#burger-icon-after {
    top: calc(50% + 5px);
}

#burger-icon-before,
#burger-icon-after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 24px;
    background: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
    .bg-zoom-transition::before {
        display: none;
    }
    .bg-zoom-transition::after {
        opacity: 100;
        bottom: 1rem;
        font-size: 2rem;
    }
}
